@use "/src/sass/base/variables.scss" as *;

.catalog {
  padding-top: 50px;
  &__title {
    margin-top: 60px;
  }
  &__tabs {
    display: flex;
    column-gap: 50px;
    row-gap: 13px;
    flex-wrap: wrap;
    margin-top: 60px;
    border: 1px solid $dark;
    padding: 13px 35px;
    max-width: 480px;
  }
  &__tab {
    position: relative;
    border: none;
    background: none;
    padding: 0;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    &_active::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      bottom: -1px;
    }
  }
  &__content {
    margin-top: 60px;
  }
  &__product-card {
    max-width: 340px;
    border: 1px solid $dark;
    background: $light;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  }
  .item__image {
    width: 100%;
    object-fit: cover;
    margin-bottom: 11px;
  }

  .item-info {
    padding: 11px 0 16px 12px;
  }
  .item__title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }
  .item__price {
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }

  &__content-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  .catalog {
    &__content-item {
      position: relative;
      grid-template-columns: repeat(2, 1fr);
      padding: 10px;
   
   &::after{
    content:"";
    position: absolute;
    top: -2px;
    left: 0;
    width: 200px;
    height: 1px;
    background-color: $dark;
   }
   &::before{
    content:"";
    position: absolute;
    top: -2px;
    left: 0;
    width: 1px;
    height: 200px;
    background-color: $dark;
   }
    }

   
  }
}
@media screen and (min-width: 1200px) {
  .catalog {
    &__content-item {
      grid-template-columns: repeat(3, 1fr);
      padding: 25px;
      gap: 35px;
      &::after{
    content:"";
    top: 0;
   }
   &::before{
    top: 0;
   }
    }
  }
}
@media screen and (min-width: 1920px) {
  .catalog {
    &__content-item {
      grid-template-columns: repeat(4, 1fr);
      padding: 25px;
      row-gap: 35px;
      column-gap: 83px;
    }
  }
}