@use "/src/sass/base/variables.scss" as *;

.footer {
  background-color: $dark;
  color: $light;
  h4 {
    color: $light;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    &__head {
      margin-top: 50px;
      color: $light;

      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &__text {
      margin-top: 40px;
      color: $light;
      font-size: 16px;
      font-weight: 400;
    }

    .email-form {
      margin-top: 40px;
      background-color: $dark;
      color: $light;
      outline: none;
      width: 293px;
      border: none;
      border-bottom: 1px solid $ui-active;
      padding-bottom: 15px;
    }

    .email-form::placeholder {
      color: $ui-active;
    }

    .email-form:invalid:not(:placeholder-shown) {
      border-bottom-color: $ui-error;
      color: $ui-error;
    }
    .email-form:invalid::placeholder:not(:placeholder-shown) {
      color: $ui-error;
    }
    &__checkblock {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
      position: relative;
      color: $light;
      a {
        color: #a22dc6;
        text-decoration: none;
        margin-left: 3px;
      }
    }
    &__checkbox {
      appearance: none;
      margin-right: 15px;
      width: 15px;
      height: 15px;
      background-color: $dark;
      border: 1px solid $light;
      color: $light;
    }
    &__checkbox:checked::after {
      position: absolute;
      content: "";
      left: 5px;
      top: 1px;
      width: 6px;
      height: 12px;
      border-right: 2px solid $light;
      border-bottom: 2px solid $light;
      transform: rotate(45deg);
    }
    &__btn {
      margin-top: 20px;
    }
  }
  .info {
    display: flex;

    gap: 0 60px;
    flex-wrap: wrap;
    &__item {
      margin: 40px 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__heading {
      margin-bottom: 20px;
    }

    &__content-link {
      text-transform: none;
      text-decoration: none;
      color: inherit;
    }
  }
  .social {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
    &__link {
      display: inline-flex;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $light;
      font-size: 24px;
      line-height: 1;
    }

    &__logos {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  &__copyright {
    margin: 40px auto;
    padding-bottom: 50px;
    color: $light;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (min-width: 763px) {
  .footer {
    .raw__container {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__flexContainer {
      display: flex;
      justify-content: space-between;
    }
    .raw__container {
      display: contents;
    }
  }
}
